# Data Preparation:
## Loading the Data:

In [1]:
import pandas as pd

filepath = "../Data_set/Tunisia_Weather_All_Data.csv"
data = pd.read_csv(filepath)
data.head()

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UV_INDEX,ALLSKY_SFC_UVA,...,T2M_MAX,T2M_MIN,TS,WS10M,WD10M,WS50M,WD50M,PS,PRECTOTCORR,RH2M
0,1983,1,1,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,13.02,-0.81,4.48,2.43,263.62,3.73,265.12,98.23,0.11,70.38
1,1983,1,2,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,12.84,0.74,4.75,3.12,264.19,4.79,263.56,98.09,0.07,76.56
2,1983,1,3,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,11.65,0.27,4.99,3.73,212.50,6.01,212.62,98.47,0.16,84.56
3,1983,1,4,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,14.50,2.96,6.81,3.09,302.56,4.49,303.19,98.57,0.07,75.50
4,1983,1,5,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,18.82,3.52,8.19,4.40,285.00,7.34,285.31,98.22,0.00,58.75

## Data Cleaning:
Looking at the first 5 lines , we can see that there are some columns with corrupted data that needs to be **removed**.

In [2]:
data = data.drop(columns = ["ALLSKY_SFC_SW_DWN","ALLSKY_KT","ALLSKY_SFC_LW_DWN","ALLSKY_SFC_PAR_TOT","CLRSKY_SFC_PAR_TOT",
                    "ALLSKY_SFC_UV_INDEX","ALLSKY_SFC_UVA","ALLSKY_SFC_UVB"])

Let's have a look at the columns data types.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14823 entries, 0 to 14822
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YEAR         14823 non-null  int64
 1   MO           14823 non-null  int64
 2   DY           14823 non-null  int64
 3   T2M          14823 non-null  float64
 4   T2MDEW       14823 non-null  float64
 5   T2M_MAX      14823 non-null  float64
 6   T2M_MIN      14823 non-null  float64
 7   TS           14823 non-null  float64
 8   WS10M        14823 non-null  float64
 9   WD10M        14823 non-null  float64
 10  WS50M        14823 non-null  float64
 11  WD50M        14823 non-null  float64
 12  PS           14823 non-null  float64
 13  PRECTOTCORR  14823 non-null  float64
 14  RH2M         14823 non-null  float64
dtypes: float64(12), int64(3)
memory usage: 1.7 MB

It appears that there is no null values in our dataset. Great! <br>
Now let see if our data contains some duplicates rows that will affect our analysis.

In [4]:
duplicate_rows = data.duplicated().sum()
print(duplicate_rows)

0

There are 0 duplicates rows in the dataset,that is good, but since we need every year full data we should get 365 rows for each yea(366 for leap years).

In [5]:
data["YEAR"].value_counts()

YEAR
2008    366
2004    366
1984    366
2020    366
1988    366
2000    366
1992    366
2016    366
2012    366
1996    366
2013    365
2009    365
2010    365
2011    365
1983    365
2014    365
2007    365
2017    365
2018    365
2019    365
2021    365
2022    365
2015    365
2003    365
2006    365
1993    365
1985    365
1986    365
1987    365
1989    365
1990    365
1991    365
1994    365
2005    365
1995    365
1997    365
1998    365
1999    365
2001    365
2002    365
2023    213
Name: count, dtype: int64

It appears that our data doesn't cover 2023 fully, so in order to make our analysis precise we need to filter it out.

In [6]:
data = data[data['YEAR'] != 2023]
data["YEAR"].value_counts()

YEAR
2012    366
2004    366
2020    366
1984    366
1988    366
2008    366
2016    366
1992    366
2000    366
1996    366
1983    365
2009    365
2010    365
2011    365
2014    365
2013    365
2006    365
2015    365
2017    365
2018    365
2019    365
2021    365
2007    365
2003    365
2005    365
2002    365
2001    365
1999    365
1998    365
1997    365
1995    365
1994    365
1993    365
1991    365
1990    365
1989    365
1987    365
1986    365
1985    365
2022    365
Name: count, dtype: int64

Much better! Now the dataset is ready for analysis , but first we should rename our columns to more understandable names.

In [7]:
data.columns

Index(['YEAR', 'MO', 'DY', 'T2M', 'T2MDEW', 'T2M_MAX', 'T2M_MIN', 'TS',
       'WS10M', 'WD10M', 'WS50M', 'WD50M', 'PS', 'PRECTOTCORR', 'RH2M'],
      dtype='object')

In [8]:
data = data.rename(columns={
    'YEAR': 'Year',
    'MO': 'Month',
    'DY': 'Day',
    'T2M': 'Temperature_2m',
    'T2MDEW': 'Dew_Point_Temperature_2m',
    'T2M_MAX': 'Max_Temperature_2m',
    'T2M_MIN': 'Min_Temperature_2m',
    'TS': 'Surface_Temperature',
    'WS10M': 'Wind_Speed_10m',
    'WD10M': 'Wind_Direction_10m',
    'WS50M': 'Wind_Speed_50m',
    'WD50M': 'Wind_Direction_50m',
    'PS': 'Surface_Pressure',
    'PRECTOTCORR': 'Corrected_Precipitation',
    'RH2M': 'Relative_Humidity_2m'
})

In [9]:
data.columns

Index(['Year', 'Month', 'Day', 'Temperature_2m', 'Dew_Point_Temperature_2m',
       'Max_Temperature_2m', 'Min_Temperature_2m', 'Surface_Temperature',
       'Wind_Speed_10m', 'Wind_Direction_10m', 'Wind_Speed_50m',
       'Wind_Direction_50m', 'Surface_Pressure', 'Corrected_Precipitation',
       'Relative_Humidity_2m'],
      dtype='object')

Great! Now the dataset is ready for analysis.<br>
Let's save it and move on to the next stage of this project.

In [10]:
path = "../Data_set/Cleaned_Data.csv"
data.to_csv(path,index = False)